{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm">
            <h3>Users</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Today</th>
                        <th scope="col">Yesterday</th>
                        <th scope="col">Week (WTD, Mon-Sun)</th>
                        <th scope="col">Month (MTD)</th>
                        <th scope="col">Year (YTD)</th>
                        <th scope="col">Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Registered</th>
                        <td>{{ user_count_today }}</td>
                        <td>{{ user_count_yesterday }}</td>
                        <td>{{ user_count_weekly }}</td>
                        <td>{{ user_count_monthly }}</td>
                        <td>{{ user_count_yearly }}</td>
                        <td>{{ user_count_lifetime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
