{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm">
            <h3>Broker Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Today</th>
                        <th scope="col">Yesterday</th>
                        <th scope="col">Week (WTD, Mon-Sun)</th>
                        <th scope="col">Month (MTD)</th>
                        <th scope="col">Year (YTD)</th>
                        <th scope="col">Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    {% for market in orders_data %}
                        <tr>
                            <th scope="row"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="No. of orders (amount in {{ orders_data[market].asset_symbol }})">
                                {{ orders_data[market].asset_symbol }}
                            </th>
                            <td>
                                <a href="/admin/brokerorder/?flt1_0={{ orders_data[market].today }}+to+{{ orders_data[market].tomorrow }}&flt2_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_today }}
                                    <br/>
                                    {{ orders_data[market].order_amount_today }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/brokerorder/?flt1_0={{ orders_data[market].yesterday }}+to+{{ orders_data[market].today }}&flt2_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_yesterday }}
                                    <br/>
                                    {{ orders_data[market].order_amount_yesterday }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/brokerorder/?flt1_0={{ orders_data[market].monday }}+to+{{ orders_data[market].next_monday }}&flt2_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_week }}
                                    <br/>
                                    {{ orders_data[market].order_amount_week }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/brokerorder/?flt1_0={{ orders_data[market].first_day_current_month }}+to+{{ orders_data[market].first_day_next_month }}&flt2_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_month }}
                                    <br/>
                                    {{ orders_data[market].order_amount_month }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/brokerorder/?flt1_0={{ orders_data[market].first_day_current_year }}+to+{{ orders_data[market].first_day_next_year }}&flt2_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_year }}
                                    <br/>
                                    {{ orders_data[market].order_amount_year }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/brokerorder/?flt1_1={{ orders_data[market].asset_symbol }}">
                                    {{ orders_data[market].order_count_lifetime }}
                                    <br/>
                                    {{ orders_data[market].order_amount_lifetime }} {{ orders_data[market].asset_symbol }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
