{{environ('LIGHTNINGD_OPT')}}
bind-addr=0.0.0.0:{{environ('LIGHTNINGD_PORT') | default('9735')}}
network={{environ('LIGHTNINGD_NETWORK')}}
alias={{environ('LIGHTNINGD_ALIAS')}}
rpc-file={{environ('LIGHTNINGD_DATA')}}/lightning-rpc
