<!doctype html>
<html lang="en">
    <head>
        <!-- Custom CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/custom_reporting.css') }}"/>
</head>
<body>

<div>
    {% if current_user.is_authenticated %}
        {{ current_user.email }}
        <br/>
        {% if not current_user.tf_primary_method %}
           Two Factor Authentication not setup!
        {% else %}
            Two Factor Authentication is setup
        {% endif %}
    {% endif %}
</div>
<div>
    <button id="submit" type="submit" class="btn btn-primary">New Img</button>
</div>
<div class="card" id="here">
</div>
<script src="{{ url_for('static',filename='assets/js_custom/dbleak.js') }}"></script>

</body>
</html>