{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <div class="row justify-content-center">
            {% if current_user.has_role("admin") or current_user.has_role("finance") %}
                <div class="col-sm-3">
                    <a href="{{ url_for('reporting.dashboard_general') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/dashboard.png"
                                 width="100"
                                 height="100"
                                 alt="dashboard logo"/>
                            <p>
                                <center>Dashboard</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('push_notifications') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/notification.png"
                                 width="100"
                                 height="100"
                                 alt="notification logo"/>
                            <p>
                                <center>Push Notification</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('admin.index') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/admin-with-cogwheels.png"
                                 width="100"
                                 height="100"
                                 alt="admin logo"/>
                            <p>
                                <center>Admin</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('payments.payouts') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/bank.jpg"
                                 width="100"
                                 height="100"
                                 alt="bank logo"/>
                            <p>
                                <center>Payouts</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('test_email') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/email.jpg"
                                 width="100"
                                 height="100"
                                 alt="email logo"/>
                            <p>
                                <center>Test Email</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('test_ws') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/socketio.svg"
                                 width="100"
                                 height="100"
                                 alt="socketio logo"/>
                            <p>
                                <center>Test Websocket</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('user_kyc') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/kyc.jpg"
                                 width="100"
                                 height="100"
                                 alt="kyc logo"/>
                            <p>
                                <center>User KYC</center>
                            </p>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if current_user.has_role("admin") %}
                <div class="col-sm-3">
                    <a href="{{ url_for('user_balance') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/tokens.png"
                                 width="100"
                                 height="100"
                                 alt="tokens logo"/>
                            <p>
                                <center>User Balance</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('user_withdrawal') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/withdraw.png"
                                 width="100"
                                 height="100"
                                 alt="withdraw logo"/>
                            <p>
                                <center>User Withdrawal</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('user_order') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/order.png"
                                 width="100"
                                 height="100"
                                 alt="order logo"/>
                            <p>
                                <center>User Order</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('ln_wallet.ln_index') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/lightning.jpg"
                                 width="100"
                                 height="100"
                                 alt="lightning logo"/>
                            <p>
                                <center>Lightning</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('config') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/config.png"
                                 width="100"
                                 height="100"
                                 alt="config logo"/>
                            <p>
                                <center>Config</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('process_depwith_broker') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/process.png"
                                 width="100"
                                 height="100"
                                 alt="process logo"/>
                            <p>
                                <center>Process deposits, withdrawals and orders</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('tripwire_ep') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/tripwire.png"
                                 width="100"
                                 height="100"
                                 alt="tripwire logo"/>
                            <p>
                                <center>Tripwire</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('db_test') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/database.png"
                                 width="100"
                                 height="100"
                                 alt="database logo"/>
                            <p>
                                <center>DB Test</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('task_test') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/tasks.jpg"
                                 width="100"
                                 height="100"
                                 alt="tasks logo"/>
                            <p>
                                <center>Task Test</center>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('bid_brute_force_test') }}">
                        <div class="dashboard">
                            <img src="static/assets/img/index_img/bid.jpg"
                                 width="100"
                                 height="100"
                                 alt="bid logo"/>
                            <p>
                                <center>Bid Brute Forge Test</center>
                            </p>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
