{% extends "layout.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tripwire</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Attempts</th>
                        <th scope="col">Last Attempt</th>
                        <th scope="col">Expire Next</th>
                        <th scope="col">OK?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value.attempts }}</td>
                            <td>{{ value.last_attempt }}</td>
                            <td>{{ value.expire_next }}</td>
                            <td>{{ value.ok }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
