{% extends "layout.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Withdrawal</h5>
            <form id="form" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group" id="action-group">
                    <select class="form-control"
                            id="action"
                            name="action"
                            aria-describedby="actionHelp">
                        {% for a in actions %}
                            <option {% if action == a %}selected{% endif %} value="{{ a }}">
                                {{a}}
                            </option>
                        {% endfor %}
                    </select>
                    <small id="actionHelp" class="form-text text-muted">The selected action</small>
                </div>
                <div class="form-group" id="type-group">
                    <select class="form-control"
                            id="type"
                            name="type"
                            aria-describedby="typeHelp">
                        {% for t in types %}
                            <option {% if type == t %}selected{% endif %} value="{{ t }}">
                                {{ t }}
                            </option>
                        {% endfor %}
                    </select>
                    <small id="typeHelp" class="form-text text-muted">The selected type</small>
                </div>
                <div class="form-group">
                    <label for="token">Withdrawal Token</label>
                    <input type="text"
                           class="form-control"
                           id="token"
                           name="token"
                           aria-describedby="tokenHelp"
                           value="{{ token }}"/>
                    <small id="tokenHelp" class="form-text text-muted">The unique token of the withdrawal</small>
                </div>
                <button id="form-submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='assets/js_custom/user_withdrawal.js') }}"></script>
{% endblock %}
