.some-page-wrapper {
  margin: 15px;
  background-color: #3f454a;;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.row-divider {
  background-color: #efefef;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

/* DASHBOARD */

.white {
  background-color: white;
}

.green {
  background-color: #d9fce9;
}

.orange {
  background-color: #f8e9d0;
}

.red {
  background-color: #fff9fa;
}

.blue {
  background-color: #ebfbfb;
}

.row-1line-title:hover + .hide{
  display: block;
}

.row-1line-title {
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

.row-2line-title:hover + .hide{
  display: block;
}

.row-2line-title {
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

.hide{
  display: none;
  position: absolute;
  background-color: #ebfbfb;
  border-width: 1px;
  border-style: dashed;
  border-color: #add3e6;
  border-radius: 10px; 
  height: 50px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 100%;
  left: 25%;
}

.report-row {
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  margin: 5px;
  text-align: center;
}

.report-row-padding-1line {
  padding-top: 22%;
}

.report-row-padding-2line {
  padding-top: 15%;
}

.report-row-sm {
  height: auto;
  padding: 0;
  font-size: 100%;
}

.report-row-hover:hover {
  background-color:#e6ebff;
}

.title_1line-column {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  padding: 14px;
  height: 60px;
  margin: 5px;
  text-align: center;
}

.title_download-user_balance {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  text-align: center;
}

.title_download-user_balance:hover {
  background-color: #e6ebff;
}

.title_2lines-column {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  padding: 3px;
  height: 60px;
  margin: 5px;
  text-align: center;
}
.text_color {
  color: black;
}
.operations_account_column {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
.dashboard {
  background-color: #343b41;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 200px;
  width: 180px;
  margin: 5px;
  text-align: center;
  padding: 30px;
  font-size: 100%;
  font-weight: bold;
}
.dashboard:hover {
  background-color: #262a30;
}

body {
  color: #c8c8c8;
  background-color: #3f454a;
}

/* USER BALANCE*/
.title-column {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 27px;
  margin: 1px;
  text-align: center;
}
