{% extends "layout.html" %}
{% block title %}Create Invoice{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='assets/lightning/qrcode.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lightning/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lightning/sweetalert2.min.css') }}"></script>
<script src="{{ url_for('static',filename='assets/lightning/psbt-amount-browserified.js') }}"></script>
<script>
    const createInvoice = function() {
        var signedPsbt = document.querySelector('#message').value;
        Swal.fire({
            title: 'Confirm Broadcast',
	    text: `Total BTC before fees: ₿${getUnsignedPSBTAmount.getUnsignedPSBTAmount(signedPsbt)}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm'
        }).then((result) => {
		requestLoadString = JSON.stringify({
		  "signed_psbt" : signedPsbt
		});
            if (result.isConfirmed) {
			fetch('/ln/send_psbt', {
				method: 'POST',
				headers: {
				  'Content-Type': 'application/json',
				},
				body: requestLoadString,
			})
			.then(response => response.text())
			.then(data => {
				if (data !== "error") {
					console.log('Success:', data);
					var convertedData = JSON.parse(data);
					navigator.clipboard.writeText(convertedData["txid"]);
					Swal.fire({
						icon: 'success',
						title: 'Copied txid to clipboard',
					})
					.then(function(){
						location.reload();
					})
				} else {
					Swal.fire({
						icon: 'error',
						title: 'Transaction Failed!',
						text: 'Check you entered a correct address & amount'
					})
					.then(function(){
						location.reload();
					})
				}
			});
            }
        })
    }
</script>
<br>
<h2>Broadcast Signed PSBT</h2>
<p>Broadcast a signed PSBT.</p>
<div class="form-group">
  <label for="message" class="form-label mt-4">Signed PSBT</label>
  <textarea class="form-control" aria-required=true placeholder="Paste signed PSBT here." name="message" id="message" rows="3" required></textarea>
</div>
<div name="submit_Invoice" id="submit_Invoice">
  <a class="button submit" onclick="createInvoice()">
	  <button type="button" class="btn btn-primary btn-lg mt-3">Broadcast signed PSBT</button>
  </a>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
