{% extends "lightning/layout.html" %}
{% block title %}Open a Lightning Network Channel{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script>
    const openChannel = function() {
        var openChannelUrl = `/ln/open_channel/${document.querySelector('#nodeid').value}/${document.querySelector('#amount').value}`;
        window.location = openChannelUrl;
    }
</script>
<br>
<h2>Open a Lightning Network Channel</h2>
<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
<section>
    <div class="form-group">
        <label class="col-form-label mt-4" for="amount">Amount</label>
        <input type="text" class="form-control" placeholder="Enter amount in satoshi" name="amount" id="amount">
    </div>
    <div class="form-group">
        <label class="col-form-label mt-4" for="nodeid">Node ID</label>
        <input type="text" class="form-control" placeholder="Enter Node ID" name="nodeid" id="nodeid">
    </div>
    <div class="open_Channel" id="open_Channel">
        <a class="button submit" onclick="openChannel()">
	    <button type="button" class="btn btn-primary btn-lg mt-3">Open Channel</button>
	</a>
	</div>
</section>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
