{% extends "lightning/layout.html" %}
{% block title %}Create PSBT{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>Create PSBT</h2>
<form id="form" method="POST">
    <div class="payment-fields">
        <div class="form-group">
            <label for="address" class="form-label mt-4">Recipient Address</label>
            <input type="text" id="address" name="address" class="form-control" placeholder="Recipient Address" required>
        </div>
        <label for="amount" class="form-label mt-4">Amount</label>
        <div class="input-group">
            <input type="text" id="amount" name="amount" class="form-control" placeholder="Amount" required>
            <div class="input-group-append">
                <button type="button" id="max" class="btn btn-sm">Max</button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <button id="form-add-output" type="button" class="btn btn-primary btn-sm">Add Output</button>
    <br/>
    <br/>
    <button id="form-submit" type="button" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function confirm(form_class, outputs, totalBtc) {
        if (!document.querySelector(form_class).reportValidity()) {
            return;
        }
        if (isNaN(totalBtc) || totalBtc <= 0) {
            bootbox.alert({message: 'Invalid amount'});
            return;
        }
        bootbox.confirm({
            title: 'Confirm Create PSBT',
            message: `Total: ${totalBtc} btc. Do you want to create the PSBT?`,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result)
                    $(form_class).submit();
            }
        });
    }

    function remove() {
        var ele = $('.payment-fields').last();
        console.log(ele);
        ele.remove();
    }

    $(document).ready(function() {
        $('#max').click(function() {
            var ele = $('#max').parent().prev();
            console.log(ele);
            ele.value = "{{ onchain }}";
        });

        $('#form-add-output').click(function() {
            document.querySelector(".payment-fields").insertAdjacentHTML("afterend",
                `
                <div class="payment-fields">
                    <div class="form-group">
                        <label for="address" class="form-label mt-4">Recipient Address</label>
                        <input type="text" id="address" name="address" class="form-control" placeholder="Recipient Address" required>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="form-label mt-4">Amount</label>
                        <input type="text" id="amount" name="amount" class="form-control" placeholder="Amount" required>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" onclick='remove()'>Remove</button>
                </div>
            `);
            return false;
        });

        $('#form-submit').click(function() {
            var outputs = [];
            var paymentFields = document.getElementsByClassName("input-element");
            var totalBtc = 0;
            for (var i = 0; i < paymentFields.length; i += 2) {
                var output = {sats: paymentFields[i].value, btc: paymentFields[i + 1].value};
                outputs.push(output);
                totalBtc += parseFloat(output.btc);
            }
            totalBtc = Math.round(totalBtc * 100000000) / 100000000;
            confirm('#form', outputs, totalBtc);
            return false;
        });
    });
</script>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
