{% extends "lightning/layout.html" %}
{% block title %}Create PSBT/Withdrawal{% endblock %}
{% block content %}
    <div class="alert alert-dismissible alert-success">
        <strong>on-chain balance:</strong> {{ onchain }} <strong>BTC</strong> <b>|</b> {{ onchain_sats }} <strong>SAT</strong>
    </div>
    <div class="alert alert-dismissible alert-info">
        {% if psbt %}
            <h2>PSBT Created</h2>
            <div class="form-group">
                <label for="created_psbt" class="form-label mt-4">PSBT Data</label>
                <textarea class="form-control"
                          id="created_psbt"
                          rows="3"
                          placeholder="{{ psbt }}"
                          readonly></textarea>
            </div>
            <button id="copy-psbt" type="button" class="btn btn-primary">Copy PSBT</button>
            <br/>
            <br/>
            <br/>
        {% endif %}
        <h2>Create PSBT/Withdrawal</h2>
        <form id="form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="payment-fields">
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           name="mode"
                           id="psbt"
                           value="psbt"
                           {% if mode == 'psbt' %}checked{% endif %}/>
                    <label class="form-check-label" for="psbt">Create PSBT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           name="mode"
                           id="withdraw"
                           value="withdraw"
                           {% if mode == 'withdraw' %}checked{% endif %}/>
                    <label class="form-check-label" for="withdraw">Create Withdrawal</label>
                </div>
                <br />
                <div class="alert alert-dismissible alert-warning">
                    Unit:
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="unit"
                               id="btc"
                               value="btc"
                               {% if unit == 'btc' %}checked{% endif %}
                               required/>
                        <label class="form-check-label" for="btc">
                            <strong>BTC</strong>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="unit"
                               id="sat"
                               value="sat"
                               checked/>
                        <label class="form-check-label" for="sat">
                            <strong>SAT</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Recipient Address</label>
                    <input type="text"
                           id="address"
                           name="address"
                           class="payment form-control"
                           placeholder="Recipient Address"
                           required/>
                </div>
                <label for="amount" class="form-label">Amount</label>
                <div class="input-group">
                    <input type="text"
                           id="amount"
                           name="amount"
                           class="payment form-control"
                           placeholder="Amount"
                           required/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="max">Max</button>
                    </div>
                </div>
            </div>
            <button id="form-remove-output" type="button" class="btn btn-danger btn-sm">Remove</button>
            <br/>
            <br/>
            <button id="form-add-output" type="button" class="btn btn-primary btn-sm">Add Output</button>
            <br/>
            <br/>
            <button id="form-submit" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script data-psbt={{ psbt | tojson }} data-onchain="{{ onchain }}" data-onchain-sats="{{ onchain_sats }}" data-addrs={{ addrs | tojson }} data-amounts={{ amounts | tojson }} src="{{ url_for('static',filename='assets/js_custom/create_psbt.js') }}"></script>
{% endblock %}
