{% extends "lightning/layout.html" %}
{% block title %}Create Invoice{% endblock %}
{% block content %}
{% if bolt11 %}
<h2>Invoice Created</h2>
{{ qrcode_svg | safe }}
<div class="form-group">
  <label for="readonlytextarea" class="form-label mt-4">Invoice Data</label>
  <textarea class="form-control" id="readonlytextarea" rows="3" placeholder="{{ bolt11 }}" readonly></textarea>
</div>
<button id="copy-invoice" type="button" class="btn btn-primary">Copy Invoice</button>
<br/>
{% endif %}

<h2>Create Invoice</h2>
<p>Create a lightning network invoice.</p>
<form id="form" method="POST">
  <div class="form-group">
    <label class="col-form-label mt-4" for="amount">Amount (sats)</label>
    <input type="number" class="form-control" aria-required=true placeholder="Enter amount here in satoshi." name="amount" id="amount" required>
  </div>
  <div class="form-group">
    <label for="message" class="form-label mt-4">Message</label>
    <textarea class="form-control" aria-required=true placeholder="Enter message here." name="message" id="message" rows="3" required></textarea>
  </div>
  <button id="form-submit" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function socketOpen(label) {
        var url = `wss://${location.host}/orders`;
        var socket = io(url, {transports: ['websocket']});
        console.log('socket.io protocol:', socket.protocol);
        socket.on('connect', function() {
            console.log('connected');
            // subscribe to invoice events
            if (label.length > 0)
                socket.emit('ln_invoice', label, (response) => console.log(`sent invoice label: ${label}`));
        });
        socket.on('info', function(msg) {
            console.log(`info: ${msg}`);
        });
        socket.on('version', function(msg) {
            console.log(`version: ${msg}`);
        });
        socket.on('ln_invoice_paid', function(msg) {
            console.log('invoice paid');
            var bolt11 = msg['bolt11'];
            console.log(bolt11);
            var shortenedBolt11 = bolt11.slice(0,15) + '.....' + bolt11.slice(-15);
            bootbox.alert({
                title: 'Invoice Paid',
                message: shortenedBolt11,
            });
        });
    }

    function confirm(form_class, amount) {
        bootbox.confirm({
            message: `Are you sure you want to create an invoice for ${amount} sats?`,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result)
                    $(form_class).submit();
            }
        });
    }

    $(document).ready(function() {
        var label = '{{ label if label }}';
        socketOpen(label);

        $('#copy-invoice').click(function() {
            navigator.clipboard.writeText("{{ bolt11 }}");
        });

        $('#form-submit').click(function() {
            var amount = $('#amount').val();
            confirm('#form', amount);
            return false;
        });
    });
</script>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
