{% extends "lightning/layout.html" %}
{% block title %}Invoice History{% endblock %}
{% block content %}
{{ super() }}
<br/>
<div>
    <h2>Invoice History</h2>
    <table class="table table-hover">
	<thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount(sats)</th>
            <th scope="col">Status</th>
        </tr>
	</thead>
	<tbody>
	{% for paid_invoice in paid_invoices %}
            <tr class="table-secondary">
		<td>{{paid_invoice.date}}</td>
                <td>{{paid_invoice.amount_sats}}</td>
                <td>{{paid_invoice.status}}</td>
            </tr>
	{% endfor %}
	</tbody>
    </table>
    <br>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
