{% extends "lightning/layout.html" %}
{% block title %}Lightning Transaction History{% endblock %}
{% block navigation %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<br/>
<div class="alert alert-dismissible alert-success">
    <strong>ln-channel balance:</strong> {{ funds_dict.sats_channels }} <strong>SAT</strong>
</div>
<br>
<h2>Lightning Transaction History</h2>
These are the transactions recorded by the wallet.
<br>
<p align="right">{{ record_no }} transactions recorded</p>
    {% for tx in sorted_txs %}
        <div class="alert alert-dismissible alert-info">
            <button class={% if tx.amount_sent_sats is defined %}"btn btn-danger disabled"{% elif tx.amount_received_sats is defined %}"btn btn-success disabled"{% endif %} type="button" data-toggle="collapse" data-target="#collapseExample{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">
                {{tx.paid_date}}
            </button>
            <b>{% if tx.amount_sent_sats is defined %}-{{tx.amount_sent_sats}}{% elif tx.amount_received_sats is defined %}+{{tx.amount_received_sats}}{% endif %} SAT{% if tx.amount_sent_sats is defined%}(fees included){% endif %}</b>
            <div class="collapse" id="collapseExample{{loop.index}}">
                <div class="card card-body">
                    {% if tx.amount_sent_sats is defined %}
                        <b>Amount:</b> {{tx.amount_sent_sats}} SAT<br>
                        <b>Destination:</b> {{tx.destination}}<br>
                    {% elif tx.amount_received_sats is defined %}
                        <b>Amount:</b> {{tx.amount_received_sats}} SAT<br>
                        {% if tx.description is defined %}
                            <b>Description:</b> {{tx.description}}<br> 
                        {% endif %}
                        <b>Label:</b> {{tx.label}}<br>
                    {% endif %}
                    <b>Payment hash:</b> {{tx.payment_hash}}<br>
                    <b>Status:</b> {{tx.status}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
