{% extends "lightning/layout.html" %}
{% block title %}Lightningd GetInfo{% endblock %}
{% block navigation %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<br/>
<div class="alert alert-dismissible alert-info">
    <h2>Lightning Node Information</h2>
    <br/>
        <table class="table table-striped table-hover">
        {% for key in info %}
            <tr>
                <th scope="row">{{ key }}: </th>
    	        <td> {{ info[key] }}</td>
    	    </tr>
        {% endfor %}
        </table>
</div>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
