{% extends "lightning/layout.html" %}
{% block title %}Transaction List{% endblock %}
{% block content %}
<br>
<div>
    <h2>BTC TRANSACTIONS</h2>
    <table class="table table-hover">
	<thead>
        <tr>
            <th scope="col">Blockheight</th>
            <th scope="col">Transaction id</th>
            <th scope="col">Inputs</th>
            <th scope="col">Fee</th>
            <th scope="col">Outputs</th>
        </tr>
	</thead>
	<tbody>
        {% for tx in transactions %}
		<tr class="table-secondary">
		<td><a href="{{ bitcoin_explorer }}block-height/{{ tx.blockheight }}">{{ tx.blockheight }}</a></td>
		<td><a href="{{ bitcoin_explorer }}tx/{{ tx.hash }}">{{ tx.hash }}<a></td>
		<td>
		{% for input in tx.inputs %}
		{% if input.ours %}
		<span class="badge bg-primary">{{ input.sats }}</span>
		{% else %}
		<span class="badge bg-secondary">{{ input.sats }}</span>
		{% endif %}
		{% endfor %}
		</td>
		<td>
		<span class="badge bg-secondary">{{ tx.fee_sats }}</span>
		</td>
		<td>
		{% for output in tx.outputs %}
		{% if output.ours %}
		<span class="badge bg-primary">{{ output.sats }}</span>
		{% else %}
		<span class="badge bg-secondary">{{ output.sats }}</span>
		{% endif %}
		{% endfor %}
		</td>
		</tr>
        {% endfor %}
	</tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
