{% extends "lightning/layout.html" %}
{% block title %}Peers{% endblock %}
{% block content %}
<div>
    <br> 
    <h2>Peers</h2>
    <form id="rebalance-channel-form" method="POST">
    <div class="input-group mb-3" id="payment-fields">
        <div class="input-group-prepend">
            <span class="input-group-text">Outgoing SCID</span>
        </div>
        <input type="text" size=32 name="oscid" class="input-element" id="oscid" class="form-control" placeholder="Outgoing Short Channel ID">&nbsp&nbsp&nbsp&nbsp
        <div class="input-group-prepend">
            <span class="input-group-text">Incoming SCID</span>
        </div>
            <input type="text" size=32 name="iscid" class="input-element" id="iscid" class="form-control" placeholder="Incoming Short Channel ID">&nbsp&nbsp&nbsp&nbsp
        <div class="input-group-prepend">
            <span class="input-group-text">Amount (sats)</span>
        </div>
            <input type="text" size=64 name="amount" class="input-element" id="amount" class="form-control" placeholder="amount in sats">
    </div>
    <button id="rebalance-channel-form-submit" type="submit" class="btn btn-primary">Rebalance Channel</button>
</form>
    <table class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">Icon</th>
          <th scope="col">Node ID</th>
          <th scope="col">Connected</th>
          <th scope="col">SCID</th>
          <th scope="col">Total (sats)</th>
          <th scope="col">Can send (sats)</th>
          <th scope="col">Can receive (sats)</th>
          <th scope="col">Channel State(s)</th>
          <th scope="col">Close Channel</th>
        </tr>
      </thead>
    </table>
</div>
<script src="{{ url_for('static',filename='assets/lightning/blockies.min.js') }}"></script>
<script>
	var table = document.querySelector(".table");
	var tableBody = document.createElement("tbody");
	{% for peer in peers %}
		var nodeId = "{{ peer.id }}";
		var tableRow = document.createElement("tr");
		var tableCell = document.createElement("td");
		var icon = blockies.create({ // All options are optional
			seed: '{{ peer.id }}', // seed used to generate icon data, default: random
			size: 17, // width/height of the icon in blocks, default: 8
			scale: 3, // width/height of each block in pixels, default: 4
		});
		var shortId = nodeId.slice(0,4) + "..." + nodeId.slice(-4);
		tableCell.appendChild(icon);
		tableRow.appendChild(tableCell);
		tableRow.insertAdjacentHTML('beforeend', `
			<td><a href="https://1ml.com/testnet/node/{{ peer.id }}"> ${shortId} </a></td>
                        {% if peer.connected is defined and peer.connected == True %}
		          <td><button type="button" class="btn btn-success">{{ peer.connected }}</button></td>
		        {% else %}
		          <td><button type="button" class="btn btn-danger">{{ peer.connected }}</button></td>
		        {% endif %}
			<td><p> {{ peer.scid }} </p></td>
			<td><p> {{ peer.sats_total }}ș </p></td>
			<td><p> {{ peer.can_send }}ș </p></td>
			<td><p> {{ peer.can_receive }}ș </p></td>
			<td><p> {{ peer.channel_states }} </p></td>
			<td>
			  <a href='/ln_wallet/close/{{peer.id}}'>
                            <button type="button" class="btn btn-primary">Close</button>
		          </a>
		        </td>
		`);
		tableBody.appendChild(tableRow);
	{% endfor %}
	table.appendChild(tableBody);
</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
