{% extends "layout.html" %}
{% block title %}Pay Error{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='assets/js/qrcode.min.js') }}"></script>
<script>
    const redirect = function() {
        window.location = '/ln/pay_invoice';
    }
</script>
<br>
<h2>Error</h2>
<p>Looks like you entered a wrong payment invoice</p>
<section>
<div class="redirection" id="redirection">
    <a class="button submit" onclick="redirect()">
        <button type="button" class="btn btn-primary btn-lg">Try Again</button>
    </a>
</div>
</section>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
