{% extends "lightning/layout.html" %}
{% block title %}Pay Invoice{% endblock %}
{% block content %}
{{ super() }}
<br/>
<div class="alert alert-dismissible alert-success">
    <strong>ln-channel balance:</strong> {{ funds_dict.sats_channels }} <strong>SAT</strong>
</div>
<div class="alert alert-dismissible alert-info">
<h2>Pay Invoice</h2>
<p>Pay lightning invoice.</p>
<form id="form" method="POST">
    <div class="form-group">
        <label class="form-label mt-4" for="invoice">Invoice</label>
        <input type="text" class="form-control" placeholder="Enter invoice data here." name="invoice" id="invoice" value="{{ invoice }}" required>
    </div>
    <button id="form-submit" type="button" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block scripts %}
<script>
    async function decodeInvoice(invoice) {
        const response = await fetch(`decode_bolt11/${invoice}`);
        if (!response.ok) {
            bootbox.alert({message: `An error has occured decoding the invoice: ${response.status}`});
            return null;
        }
        const data = await response.json();
        return data;
    }

    async function confirm(form_class, amount) {
        if (!document.querySelector(form_class).reportValidity()) {
            return;
        }
        var invoice = document.querySelector('#invoice').value;
        var data = await decodeInvoice(invoice);
        if (data == null)
            return;

        bootbox.confirm({
            message: `Are you sure you want to pay the invoice? - Amount: ${data.amount_sat} sats, Description: ${data.description}`,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result)
                    $(form_class).submit();
            }
        });
    }

    $(document).ready(function() {
        $('#form-submit').click(function() {
            var amount = $('#amount').val();
            confirm('#form', amount);
            return false;
        });
    });
</script>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
