{% extends "lightning/layout.html" %}
{% block title %}Rebalance Channel{% endblock %}
{% block content %}
<div>
    <br> 
    <h2>Rebalance Channel</h2>
    <p>Rebalance Channels by sending satoshis from one channel into another channel.</p>
    <form id="rebalance-channel-form" method="POST">
      <input type="hidden" name="form-name" value="rebalance_channel_form">
      <div class="input-group mb-3" id="payment-fields">
          <div class="input-group-prepend">
              <span class="input-group-text">Outgoing SCID</span>
          </div>
          <input type="text" size=32 name="oscid" class="input-element" id="oscid" class="form-control" placeholder="Outgoing Short Channel ID" required>&nbsp&nbsp&nbsp&nbsp
          <div class="input-group-prepend">
              <span class="input-group-text">Incoming SCID</span>
          </div>
              <input type="text" size=32 name="iscid" class="input-element" id="iscid" class="form-control" placeholder="Incoming Short Channel ID" required>&nbsp&nbsp&nbsp&nbsp
          <div class="input-group-prepend">
              <span class="input-group-text">Amount (sats)</span>
          </div>
              <input type="text" size=64 name="amount" class="input-element" id="amount" class="form-control" placeholder="amount in sats" required>
      </div>
      <button id="rebalance-channel-form-submit" type="submit" class="btn btn-primary">Rebalance Channel</button>
    </form>
    <br/>
    <h2>Lightning Network Channels</h2>
    
    <ul class="channels">
    {% for channel in channels %}
    <li class="channel">
      <header class="d-flex justify-content-between mb-2">
        <span class="capacity">{{channel.total_sats}}</span>
        <span class="state">{% if channel.peer.connected %}active{% else %}offline{% endif %}</span>
      </header>
      <div class="channel-bar">
        <div class="progress-bar bg-warning" role="progressbar" title="Our reserve: {{ channel.our_reserve_sats }} sats" style="width: {{ channel.our_reserve_sats / channel.total_sats * 100 }}%;"></div>
        <div class="progress-bar bg-success" role="progressbar" title="Spendable: {{ channel.spendable_sats }}" style="width: {{ channel.spendable_sats / channel.total_sats * 100 }}%;"></div>
        <div class="progress-bar bg-info" role="progressbar" title="Receivable: {{ channel.receivable_sats }}" style="width: {{ channel.receivable_sats / channel.total_sats * 100 }}%;"></div>
        <div class="progress-bar bg-warning" role="progressbar" title="Their reserve: {{ channel.their_reserve_sats }}" style="width: {{ channel.their_reserve_sats / channel.total_sats * 100 }}%;"></div>
      </div>
      <ul class="list-unstyled my-3">
        <li><strong>Channel ID:</strong> {{ channel.short_channel_id }}</li>
        <li><strong>Status:</strong> {{ channel.state }}</li>
        <li><strong>Spendable:</strong> {{ channel.spendable_sats }} sats</li>
        <li><strong>Receivable:</strong> {{ channel.receivable_sats }} sats</li>
        <li><strong>Age:</strong> n/a</li>
        <li><strong>Peer:</strong> <small class="break-all">{{ channel.peer.id }}</small></li>
        <li>
          <form id="close_channel_form" method="POST">
            <input type="hidden" name="form-name" value="close_channel_form">
            <input type="hidden" id="peer_id" name="peer_id" value={{ channel.peer.id }}>
            <button id="close_channel_submit" type="submit" class="btn-sm btn-secondary">Close channel</button>
          </form>
        </li>
      </ul>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

