{% extends "lightning/layout.html" %}
{% block title %}Received Payment History{% endblock %}
{% block content %}
<br>
<div>
    <h2>Received Payment History</h2>
    These are the history for all the payments received by the wallet.
    <table class="table table-hover">
	<thead>
        <tr>
            <th scope="col">Paid Date</th>
            <th scope="col">description</th>
            <th scope="col">status</th>
            <th scope="col">amount_sats</th>
        </tr>
	</thead>
	<tbody>
            {% for received_tx in received_txs %}
            <tr class="table-secondary">
                <td>{{received_tx.paid_date}}</td>
                <td>{{received_tx.description}}</td>
                <td>{{received_tx.status}}</td>
                <td>{{received_tx.amount_sats}}</td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
    <br>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
