{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table">
                <thead>
                    <tr>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Recipient</th>
                    <th>Message</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Transaction ID/Token</th>
                    </tr>
                </thead>
                <tbody>
                {% for reward_payment in reward_payments %}
                    <tr>
                        <td>{{reward_payment.email}}</td>
                        <td>{{reward_payment.mobile}}</td>
                        <td>{{reward_payment.recipient}}</td>
                        <td>{{reward_payment.message}}</td>
                        <td>{{reward_payment.amount|int2asset}} {{ config["ASSET_NAME"] }}</td>
                        <td>{{reward_payment.status}}</td>
			{% if config["SERVER_MODE"] == "paydb" %}
			<td><a href="/admin/paydbtransaction/?flt1_6={{reward_payment.txid}}">{{reward_payment.txid}}</a></td>
			{% else %}
                        <td>{{reward_payment.txid}}</td>
			{% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}
