/* DASHBOARD */

.white {
  background-color: white;
}

.green {
  background-color: #d9fce9;
}

.orange {
  background-color: #f8e9d0;
}

.red {
  background-color: #fff9fa;
}

.blue {
  background-color: #ebfbfb;
}

.report-row {
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  margin: 5px;
  text-align: center;
}

.report-row-sm {
  height: auto;
  padding: 0;
  font-size: 100%;
}

.operations_account_column {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.dashboard {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 200px;
  width: 180px;
  margin: 5px;
  text-align: center;
  padding-top: 30px;
  font-size: 100%;
  font-weight: bold;
}

.dashboard:hover {
  background-color:#e6ebff;
}

.dashboard_links {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #add3e6;
  border-radius: 10px;
  height: 100px;
  width: 180px;
  margin: 5px;
  text-align: center;
  padding: 30px;
  font-size: 100%;
  font-weight: bold;
}

.dashboard_links:hover {
  background-color:#e6ebff;
}
