{% extends "payments/payout_layout.html" %}
{% block payout_content %}
    <div class="container">
        <div class="row">
            <a class="btn btn-secondary" href="/payments/payouts"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <table class="table">
                <tr>
                    <th>Token</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Recipient</th>
                    <th>Account</th>
                    <th>Reference</th>
                    <th>Code</th>
                    <th>Amount</th>
                </tr>
                {% for req in group.requests %}
                    {% include "payments/payout_request.html" %}
                {% endfor %}
            </table>
            <div class="col-lg-12">
                <p>
                    <form action="/payments/payout_group_process_all"
                          method="post"
                          id="submit_form_process_all">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="token" value="{{ group.token }}" />
                        <input type="button"
                               value="Process all"
                               data-action="process all"
                               data-form="submit_form_process_all"
                               data-toggle="modal"
                               data-target="#confirm_submit"
                               class="btn btn-primary submit_button"/>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
