{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h3>You can claim a payment of {{payment.amount|int2asset}} {{ config["ASSET_NAME"] }}</h3>
            <h4>Expiry Date:</h4>
            <p>{{payment.proposal.date_expiry}}</p>
            <h4>Message:</h4>
            <p>{{payment.message}}</p>
            <h4>Claim payment:</h4>
            <form method="post">
            {%if not recipient%}
                <div class="card-body">
                    <a href="{{ url }}">{{ qrcode_svg | safe }}</a><br/>
		    <p>SCAN or CLICK the QR code to claim your {{config["ASSET_NAME"]}}.</p><br/>
                </div>
            {%else%}
                Wallet address: {{recipient}}<br/>
                {%if payment.status == payment.STATE_SENT_CLAIM_LINK%}
                <input type="submit" value="Submit" />
                {%endif%}
            {%endif%}
            </form>
            {%if payment.status == payment.STATE_SENT_FUNDS%}
                Sent!
            {%endif%}
    </div>
</div>
{% endblock content %}
