{% extends "layout.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="row justify-content-center">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Operations Wallet</h5>
                <p class="card-text">
                <center>
                    {{ data["asset_balance"] }} {{ config["ASSET_NAME"] }}
                    <br/>
                    {{ data["waves_balance"] }} WAVES
                    <br/>
                    <a href="{{ data["wavesexplorer"] }}/address/{{ data["asset_address"]}}">{{ data["premio_qrcode"] | safe }}</a>
                    <br/>
                    <a href="{{ data["wavesexplorer"] }}/address/{{ data["asset_address"]}}">{{ data["asset_address"] }}</a>
                    <br/>
                </center>
                </p>
            </div>
        </div>

        <br/>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Master Wallet</h5>
                <p class="card-text">
                <center>
                    {{ data["master_asset_balance"] }} {{ config["ASSET_NAME"] }}
                    <br/>
                    {{ data["master_waves_balance"] }} WAVES 
                    <br/>
                    <a href="{{ data["wavesexplorer"] }}/address/{{ data["master_waves_address"]}}">{{ data["issuer_qrcode"] | safe }}</a>
                    <br/>
                    <a href="{{ data["wavesexplorer"] }}/address/{{ data["master_waves_address"]}}">{{ data["master_waves_address"]}}</a>
                    <br/>
                </center>
                </p>
            </div>
        </div>

    </div>
    </div>

{% endif %}
{% endblock %}
