{% extends "layout.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="row justify-content-center">
    <div class="col-sm-6">
        <ul>
	    {% if current_user.has_role("admin") %}
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/push_notifications">Push Notifications</a>
            </li>
            <li>
                <a href="{{ url_for('admin.index') }}">Admin</a>
            </li>
	    {% endif %}
        </ul>
    </div>
    </div>
{% endif %}
{% endblock %}

{% block footer %}
    <div class="row justify-content-center">
    <div class="col-sm-6">
        {% if config["SERVER_MODE"] == "waves" %}
        <div class="card">
            <div class="card-body">
                <p class="card-title">Master Wallet Configuration QR Code</p>
                <p class="card-text">
                <center>
                    <a href="{{ mw_config_url }}">{{ mw_config_qrcode_svg | safe }}</a><br/>
                    <small class="text-muted">
                        {{config["ASSET_NAME"]}} - {{config["ASSET_ID"]}} - testnet: {{config["TESTNET"]}}
                    </small>
                </center>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
