{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tripwire</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                attempts: {{ value.attempts }}, last attempt: {{ value.last_attempt }}, ok: {{ value.ok }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

