{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Order</h5>
            <form id="form" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group" id="action-group">
                    <select class="form-control" id="action" name="action" aria-describedby="actionHelp">
                        {% for a in actions %}
                            <option {% if action == a %}selected{% endif %} value="{{a}}">{{a}}</option>
                        {% endfor %}
                    </select>
                    <small id="actionHelp" class="form-text text-muted">The selected action</small>
                </div>
                <div class="form-group">
                    <label for="token">Order Token</label>
                    <input type="text" class="form-control" id="token" name="token" aria-describedby="tokenHelp" value="{{token}}" />
                    <small id="tokenHelp" class="form-text text-muted">Unique order token</small>
                </div>
                <button id="form-submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function confirm(formClass, action, token) {
            bootbox.confirm({
                message: `Are you sure you want to ${action} for order ${token}?`,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function(result) {
                    if (result) {
                        $(formClass).submit();
                    }
                }
            });
        }

        $(document).ready(function() {
            $('#form-submit').click(function() {
                const action = $('#action').val();
                const token = $('#token').val();
                confirm('#form', action, token);
                return false;
            });
        });
    </script>
{% endblock %}