{% extends "layout.html" %}
{% block head_css %}
  {{ super() }}
{% endblock %}

{% block content %}
<a class="btn btn-secondary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>&nbsp
<a class="btn btn-primary" href="dashboard_general"><i class="glyphicon glyphicon-chevron-left"></i>General</a>&nbsp
<a class="btn btn-secondary" href="dashboard_user_balance"><i class="glyphicon glyphicon-chevron-left"></i>Users</a>&nbsp
<a class="btn btn-secondary" href="dashboard_report_broker_order"><i class="glyphicon glyphicon-chevron-left"></i>Broker Orders</a>&nbsp

<div class='some-page-wrapper'>
  <div class='row'>
    {% for balance in dasset_balances %}
    <div class='column'>
      <div class='operations_account_column text_color'>
        <b>{{ balance.name }}</b>
        <div class='report-row report-row-sm blue text_color'>
          Available: {{ balance.available }} {{ balance.symbol }}
        </div>
        <div class='report-row report-row-sm blue text_color'>
          Total: {{ balance.total }} {{ balance.symbol }}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <hr />
{% if config["USE_REFERRALS"] %}
    {% include 'referral_settings.html' %}
{% endif %}

</div>
{% endblock %}
<!--
  <hr/>

  <div class='row'>
    <div class='column'>
      <div class='operations_account_column'>
	      <b> Operations Account: {{ premio_stage_account }}</b>
        <div class='report-row report-row-sm blue'>
          {{ premio_balance }} {{ config["ASSET_NAME"] }}
        </div>
      </div>
    </div>
    <div class='column'>
      <div class='operations_account_column'>
	      <b> Claimable Rewards(Current): </b>
        <div class='report-row report-row-sm blue'>
          {{ claimable }} {{ config["ASSET_NAME"] }}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='operations_account_column'>
	<b>Total Balance: </b>
        <div class='report-row report-row-sm blue'>
	  {{ total_balance }} {{ config["ASSET_NAME"] }}
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class='row'>
    <div class='column'>
      <div class='row-divider'>
        Premio Transactions
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='title-borderless'>
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Today 
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Yesterday
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Week<br>
        (WTD,Mon-Sun)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Month<br>
        (MTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Year<br>
        (YTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Lifetime
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-2line-title white'>
        Transaction Count
      </div>
      <div class='hide'>
        All transactions created from all users
      </div>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_today">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_today }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_yesterday">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_yesterday }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_week">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_week }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_month">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_month }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_year">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_year }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_premio_tx_lifetime">
      <div class='report-row report-row-hover white'>
        {{ premio_tx_count_lifetime }}
      </div>
      </a>
    </div>
  </div>

{% if config["USE_REFERRALS"] %}
    {% include 'referral_settings.html' %}
{% endif %}

</div>
{% endblock %}
-->
