{% extends "layout.html" %}
{% block head_css %}
  {{ super() }}
{% endblock %}

{% block content %}
<a class="btn btn-secondary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>&nbsp
<a class="btn btn-secondary" href="dashboard_general"><i class="glyphicon glyphicon-chevron-left"></i>General</a>&nbsp
<a class="btn btn-primary" href="dashboard_report_proposals"><i class="glyphicon glyphicon-chevron-left"></i>Proposals</a>&nbsp
<a class="btn btn-secondary" href="dashboard_user_balance"><i class="glyphicon glyphicon-chevron-left"></i>User Balance</a>

<div class='some-page-wrapper'>	
  <div class='row'>
    <div class='column'>
      <div class='title-borderless'>
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Today 
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Yesterday
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Week<br>
        (WTD,Mon-Sun)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Month<br>
        (MTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Year<br>
        (YTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Lifetime
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-divider'>
        Proposals/Payments
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-2line-title-white-noofproposals'>
	    &nbspProposal
	      Count
      </div>
      <div class='hide'>
	      The  no. of proposals entered in the "Proposals" tab.
      </div>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_today">
      <div class='white-row'>
	      {{ proposal_count_today }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_yesterday">
      <div class='white-row'>
	      {{ proposal_count_yesterday }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_week">
      <div class='white-row'>
	      {{ proposal_count_weekly }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_month">
      <div class='white-row'>
	      {{ proposal_count_monthly }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_year">
      <div class='white-row'>
	      {{ proposal_count_yearly }}
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_lifetime">
      <div class='white-row'>
	      {{ proposal_count_lifetime }}
      </div>
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title-green'>
        &nbsp&nbspClaimed&nbsp&nbsp
      </div>
      <div class='hide'>
	      The amount token successfully sent from the Proposals tab to the users.  
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
	{{ payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
	{{ payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
	{{ payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
        {{ payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
        {{ payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='green-row'>
        {{ payment_query_lifetime }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title-red'>
        Unclaimed
      </div>
      <div class='hide'>
	      The amount of token not yet claimed by the users. ie. User not signed up.
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
	{{ unclaimed_payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
	{{ unclaimed_payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
	{{ unclaimed_payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
        {{ unclaimed_payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
        {{ unclaimed_payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='red-row'>
        {{ unclaimed_payment_query_lifetime }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title-orange'>
        &nbsp&nbsp&nbsp&nbsp&nbspTotal&nbsp&nbsp&nbsp&nbsp&nbsp
      </div>
      <div class='hide'>
	      The token amount for claimed and unclaimed. 
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
	{{ total_payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
	{{ total_payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
	{{ total_payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
        {{ total_payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
        {{ total_payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='orange-row'>
        {{ total_payment_query_lifetime }}
      </div>
    </div>
  </div>
  <!--
  <div class='row'>
    <div class='column'>
      <div class='operations_account_column'>
	      <b> Operations Account: {{ premio_stage_account }}</b>
        <div class='blue-row'>
          {{ premio_balance }} {{ config["ASSET_NAME"] }}
        </div>
      </div>
    </div>
    <div class='column'>
      <div class='operations_account_column'>
	<b>Total Balance: </b>
        <div class='blue-row'>
	  {{ total_balance }} {{ config["ASSET_NAME"] }}
        </div>
      </div>
    </div>
  </div>
  -->
</div>

{% if config["USE_REFERRALS"] %}
    {% include 'referral_settings.html' %}
{% endif %}

{% endblock %}
