{% extends "layout.html" %}

{% block content %}
<a class="btn btn-secondary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>&nbsp
<a class="btn btn-primary" href="dashboard_general"><i class="glyphicon glyphicon-chevron-left"></i>General</a>&nbsp
<a class="btn btn-secondary" href="dashboard_report_proposals"><i class="glyphicon glyphicon-chevron-left"></i>Proposals</a>&nbsp
<a class="btn btn-secondary" href="dashboard_user_balance"><i class="glyphicon glyphicon-chevron-left"></i>User Balance</a>

{% if current_user.is_authenticated %}
<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='operations_account_column_waves'>
        <b> Operations Wallet: {{ premio_stage_account }}</b>
        <div class='blue-row-waves'>
          {{ data["asset_balance"] }} {{ config["ASSET_NAME"] }}
	  <br/>
          {{ data["waves_balance"] }} WAVES
	  <br/>
	</div>
	<br/>
	<br/>
        <a href="{{ data["wavesexplorer"] }}/address/{{ data["asset_address"]}}">{{ data["premio_qrcode"] | safe }}</a>
        <br/>
        <br/>
        <a href="{{ data["wavesexplorer"] }}/address/{{ data["asset_address"]}}">{{ data["asset_address"] }}</a>
        <br/>
      </div>
    </div>
    <div class='column'>
      <div class='operations_account_column_waves'>
        <b>Master Wallet: </b>
        <div class='blue-row-waves'>
          {{ data["master_asset_balance"] }} {{ config["ASSET_NAME"] }}
          <br/>
          {{ data["master_waves_balance"] }} WAVES 
          <br/>
        </div>
        <br/>
        <br/>
        <a href="{{ data["wavesexplorer"] }}/address/{{ data["master_waves_address"]}}">{{ data["issuer_qrcode"] | safe }}</a>
        <br/>
        <br/>
        <a href="{{ data["wavesexplorer"] }}/address/{{ data["master_waves_address"]}}">{{ data["master_waves_address"]}}</a>
        <br/>
      </div>
    </div>
  </div>
</div>
        {% if config["USE_REFERRALS"] %}
            {% include 'referral_settings.html' %}
        {% endif %}
{% endif %}
{% endblock %}
