{% extends "layout.html" %}
{% block head_css %}
  {{ super() }}
{% endblock %}

{% block content %}
<a class="btn btn-secondary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>&nbsp
<a class="btn btn-secondary" href="dashboard_general"><i class="glyphicon glyphicon-chevron-left"></i>General</a>&nbsp
<a class="btn btn-secondary" href="dashboard_report_proposals"><i class="glyphicon glyphicon-chevron-left"></i>Rewards</a>&nbsp
<a class="btn btn-secondary" href="dashboard_user_balance"><i class="glyphicon glyphicon-chevron-left"></i>Users</a>
<a class="btn btn-primary" href="dashboard_report_broker_order"><i class="glyphicon glyphicon-chevron-left"></i>Broker Orders</a>&nbsp

{%- if config["FLASK_ADMIN_SWATCH"] == "slate"%}
<div class='some-page-wrapper-dark'>
{%- else -%}
<div class='some-page-wrapper'>
{%- endif %}
  <div class='row'>
    <div class='column'>
      <div class='row-divider'>
        Broker Orders
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='title-borderless'>
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Today 
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Yesterday
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Week<br>
        (WTD,Mon-Sun)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Month<br>
        (MTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_2lines-column'>
        Year<br>
        (YTD)
      </div>
    </div>
    <div class='column'>
      <div class='title_1line-column'>
        Lifetime
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-2line-title white'>
      BTC-NZD
      </div>
      <div class='hide'>
        The number of orders and the total amount of asset ordered in BTC
      </div>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_today">
      <div class='report-row report-row-hover white'>
        {{ btc_order_count_today }}({{ btc_order_today }} BTC)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_yesterday">
      <div class='report-row report-row-hover white'>
        {{ btc_order_count_yesterday }}({{ btc_order_yesterday }} BTC)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_week">
      <div class='report-row report-row-hover white'>
        {{ btc_order_count_week }}({{ btc_order_week }} BTC)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_month">
      <div class='report-row report-row-hover white'>
	      {{ btc_order_count_month }}({{ btc_order_month }} BTC)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_year">
      <div class='report-row report-row-hover white'>
	      {{ btc_order_count_year }}({{ btc_order_year }} BTC)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_lifetime">
      <div class='report-row report-row-hover white'>
	      {{ btc_order_count_lifetime }}({{ btc_order_lifetime }} BTC)
      </div>
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-2line-title white'>
      ETH-NZD
      </div>
      <div class='hide'>
        The number of orders and the total amount of asset ordered in ETH
      </div>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_today">
      <div class='report-row report-row-hover white'>
        {{ eth_order_count_today }}({{ eth_order_today }} ETH)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_yesterday">
      <div class='report-row report-row-hover white'>
        {{ eth_order_count_yesterday }}({{ eth_order_yesterday }} ETH)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_week">
      <div class='report-row report-row-hover white'>
        {{ eth_order_count_week }}({{ eth_order_week }} ETH)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_month">
      <div class='report-row report-row-hover white'>
	{{ eth_order_count_month }}({{ eth_order_month }} ETH)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_year">
      <div class='report-row report-row-hover white'>
	      {{ eth_order_count_year }}({{ eth_order_year }} ETH)
      </div>
      </a>
    </div>
    <div class='column'>
      <a href="dashboard_proposal_tx_lifetime">
      <div class='report-row report-row-hover white'>
	      {{ eth_order_count_lifetime }}({{ eth_order_lifetime }} ETH)
      </div>
      </a>
    </div>
  </div>
  <!--
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title green'>
        Claimed
      </div>
      <div class='hide'>
       The amount of token rewards successfully claimed by a user
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
      {{ payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
      {{ payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
      {{ payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
        {{ payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
        {{ payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row green'>
        {{ payment_query_lifetime }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title red'>
        Unclaimed
      </div>
      <div class='hide'>
       The amount of token rewards not yet claimed by a user
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
      {{ unclaimed_payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
      {{ unclaimed_payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
      {{ unclaimed_payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
        {{ unclaimed_payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
        {{ unclaimed_payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row red'>
        {{ unclaimed_payment_query_lifetime }}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='row-1line-title orange'>
        Total
      </div>
      <div class='hide'>
        The total amount of token rewards
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
      {{ total_payment_query_today }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
      {{ total_payment_query_yesterday }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
      {{ total_payment_query_weekly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
        {{ total_payment_query_monthly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
        {{ total_payment_query_yearly }}
      </div>
    </div>
    <div class='column'>
      <div class='report-row orange'>
        {{ total_payment_query_lifetime }}
      </div>
    </div>
  </div>
  -->
</div>
<!--
{% if config["USE_REFERRALS"] %}
    {% include 'referral_settings.html' %}
{% endif %}
-->
{% endblock %}
