{% extends "layout.html" %}
{% block head_css %}{{ super() }}{% endblock %}
{% block content %}
    <div class="some-page-wrapper">
        <div class="row">
            <div class="column">
                <div class="row-divider text_color">Users</div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="title-borderless"></div>
            </div>
            <div class="column">
                <div class="title_1line-column text_color">Today</div>
            </div>
            <div class="column">
                <div class="title_1line-column text_color">Yesterday</div>
            </div>
            <div class="column">
                <div class="title_2lines-column text_color">
                    Week
                    <br />
                    (WTD,Mon-Sun)
                </div>
            </div>
            <div class="column">
                <div class="title_2lines-column text_color">
                    Month
                    <br />
                    (MTD)
                </div>
            </div>
            <div class="column">
                <div class="title_2lines-column text_color">
                    Year
                    <br />
                    (YTD)
                </div>
            </div>
            <div class="column">
                <div class="title_1line-column text_color">Lifetime</div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row-1line-title white text_color report-row-padding-1line">Registered</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_today }}</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_yesterday }}</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_weekly }}</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_monthly }}</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_yearly }}</div>
            </div>
            <div class="column">
                <div class="report-row white text_color report-row-padding-1line">{{ user_count_lifetime }}</div>
            </div>
        </div>
    </div>
{% endblock %}
