{% extends "lightning/layout.html" %}
{% block title %}Create Invoice{% endblock %}
{% block content %}
    <div class="alert alert-dismissible alert-success">
        <strong>on-chain balance:</strong> {{ onchain }} <strong>BTC</strong> <b>|</b> {{ onchain_sats }} <strong>SAT</strong>
    </div>
    <div class="alert alert-dismissible alert-info">
        <h2>Broadcast PSBT</h2>
        <p>Broadcast a signed PSBT.</p>
        <form id="form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <label for="psbt" class="form-label mt-4">Signed PSBT</label>
                <textarea class="form-control"
                          aria-required
                          true
                          placeholder="Paste signed PSBT here."
                          name="psbt"
                          id="psbt"
                          rows="3"
                          required></textarea>
            </div>
            <button id="form-submit" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='assets/js_custom/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js_custom/broadcast_psbt.js') }}"></script>
{% endblock %}
